@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

body {
  background-color: #fafafa;
  font-family: "Rubik", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031326;
}

body,
* {
  padding: 0;
  margin: 0;
}
